body {
	font-family: Georgia, serif;
	background-image: url('../img/RugbyWall4.jpg');
	background-repeat: no-repeat;
}

/* Header */

#RugbyHeader {
	padding-bottom: 780px;
	text-align: center;
}

#RugbyHeader h1 {
	font-size: 450%;
	font-family: 'Alfa Slab One', cursive;
}

/* Table */

#RugbyTable {
	padding-bottom: 20px;
}

#TableHeading {
	text-align: left;
}

.table-responsive {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}

thead {
	background-color: #4c7dae;
	padding: 100px;
	font-family: Georgia, serif;
	color: white;
}

/* Cards */

#FixturesHeading {
	text-align: left;
}

#cardfolder {
	padding-bottom: 50px;
}

.card {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	margin: 20px;
}

.cardheader {
    background-color: #4c7dae;
    color: white;
    padding: 50px;
}

.cardcontainer {
    padding: 10px;
    text-align: center;
}

.card h1 {
	font-size: 90px;
	font-family: Georgia, serif;
}

.card b {
	text-decoration: underline;
}

/* Footer */

footer {
	background-color: #666;
	text-align: center;
	padding: 50px;
	color: white;
	font-size: 15px;
}

#RugbyFooter b {
	font-size: 18px;
}

#RugbyFooter a {
	color: white;
}

.fa {
    padding: 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
	color: white;
}

.fa:hover {
    opacity: 0.7;
	color: white;
	text-decoration: none;
}

#TopButton {
	background-color: #333;
	text-align: center;
	font-size: 18px;
}

#TopButton a {
	text-decoration: none;
	color: white;
}





	