/*	=====Stylesheet Order=====
	
	1. Global Styles 
	2. Navbar
	3. Jumbotron
	4. Text Divs
	5. Table
	6. Cards
	7. Products
	8. Timeline
	9. Footer
	10. Media Queries
	
	=====Colour Scheme=====
	
	Brand - #b30000
	Background - white;
	Text - black;
	
	=====Fonts=====
	
	Heading - 'Roboto Slab', serif;
	Subheading - 'Oswald', sans-serif;
	Body - 'Montserrat', sans-serif;
*/

/* 1. Global Styles */

html {
	scroll-behavior: smooth;
}

p, b, i, #Points li {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
}

a {
	color: red;
	text-decoration: underline;
	text-decoration-style: dotted;
}
a:hover {
	color: red;
	text-decoration-style: solid;
}

h2, h3 {
	font-family: 'Oswald', sans-serif;
}

h3 {
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.line {
  background-color: red;
  height: 2.5px;
  width: 50px;
  margin-bottom: 15px;
}

/* 2. Navbar */

.navbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.navbar a {
	color: black;
	text-decoration: none;
}

.navbar-toggler-icon {
	color: #b30000;
}

/* 3. Jumbotron */

.jumbotron {
	min-height: 500px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	color: white;
	background-size: cover;
	background-repeat: no-repeat;	
}

.jumbotron h1 {
	font-family: "Roboto Slab", serif;
	font-size: 101px;
	padding-bottom: 25px;
}

.jumbotron h2 {
	font-size: 45px;
}

/* Rugby background presets in case I lose them: 
-Hue: 0
-Saturation: 90
-Lightness: -10
They should be saved in Gimp's colorize filter
*/

#PremJumbotron {
    background-image: url('../img/rugby-wallpaper.jpg');
}

#RwcJumbotron {
    background-image: url('../img/rugby-world-cup-jumbotron.jpg');
}

#EngJumbotron {
	background-image: url('../img/england-rugby-jumbotron.jpg');
}

#ReviewJumbotron {
	background-image: url('../img/reviews-jumbotron3.jpg');
}

#SixJumbotron {
	background-image: url('../img/six-nations-jumbotron2.jpg');
}

#AutJumbotron {
	background-image: url('../img/autumn-nations-cup-jumbotron.jpg');
	background-position: bottom;
}}

/* 4. Text Divs */

#Points li, #Intro li {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	font-size: 18px;
}

.england-win {
	background-color: #33cc33;
	border-radius: 5px;
	padding: 3px 6px;
	color: white;
	letter-spacing: 0.5px;
	font-weight: bold;
}

.england-draw {
	background-color: gray;
	border-radius: 5px;
	padding: 4px;
	color: white;
	letter-spacing: 0.5px;
	font-weight: bold;
}

.england-loss {
	background-color: red;
	border-radius: 5px;
	padding: 4px;
	color: white;
	letter-spacing: 0.5px;
	font-weight: bold;
}

/* 5. Table */

.table-responsive {
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.15);
	text-align: center;
	margin-bottom: 15px;
}

thead {
	background-color: #b30000;
	padding: 100px;
	color: white;
}

/* 6. Cards */

#PremiershipCards {
	margin-bottom: 75px;
	text-align: center;
}

.card {
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.15);
	width: 300px;
	margin: 10px;
	margin-bottom: 20px;
}

.card-header {
	background-color: #b30000;
	background-image: url('../img/60-lines.png');
}

.card h1 {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 101px;
	font-family: "Roboto Slab", serif;
	color: white;
}

.card-img-overlay {
    text-align: center;
	color: white;
}

.card-zoom {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* 7. Products */

.product {
	padding-bottom: 50px;
}

.product-button a {
	color: white;
	font-weight: bold;
	transition: 0.5s;
	text-decoration: none;
}

.product-button a:hover {
	color: white;
	transform: scale(1.1);
}

/* 8. Timeline */

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(0, 0, 0, 0.7);
	border-left: 2px solid #b30000; 
}

.card h1 {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 101px;
	font-family: "Roboto Slab", serif;
}

.timeline-item::before {
	content: attr(date-is);
	position: absolute;
	left: 2em;
	font-weight: bold;
	top: 1em;
	display: block;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: .785rem; 
}

.timeline-item::after {
	width: 10px;
	height: 10px;
	display: block;
	top: 1em;
	position: absolute;
	left: -7px;
	border-radius: 10px;
	content: '';
	border: 2px solid #b30000;
	background: white; 
}

.timeline-item:last-child {
	border-image: linear-gradient(to bottom, #b30000) 60%, rgba(0, 0, 0, 0)) 1 100%; 
}

/* 9. Footer */

footer {
	background-color: #666;
	background-image: linear-gradient(181deg, rgba(210, 210, 210, 0.01) 0%, rgba(210, 210, 210, 0.01) 12.5%,rgba(156, 156, 156, 0.01) 12.5%, rgba(156, 156, 156, 0.01) 25%,rgba(90, 90, 90, 0.01) 25%, rgba(90, 90, 90, 0.01) 37.5%,rgba(11, 11, 11, 0.01) 37.5%, rgba(11, 11, 11, 0.01) 50%,rgba(53, 53, 53, 0.01) 50%, rgba(53, 53, 53, 0.01) 62.5%,rgba(115, 115, 115, 0.01) 62.5%, rgba(115, 115, 115, 0.01) 75%,rgba(34, 34, 34, 0.01) 75%, rgba(34, 34, 34, 0.01) 87.5%,rgba(110, 110, 110, 0.01) 87.5%, rgba(110, 110, 110, 0.01) 100%),linear-gradient(120deg, rgba(197, 197, 197, 0.03) 0%, rgba(197, 197, 197, 0.03) 12.5%,rgba(16, 16, 16, 0.03) 12.5%, rgba(16, 16, 16, 0.03) 25%,rgba(44, 44, 44, 0.03) 25%, rgba(44, 44, 44, 0.03) 37.5%,rgba(244, 244, 244, 0.03) 37.5%, rgba(244, 244, 244, 0.03) 50%,rgba(88, 88, 88, 0.03) 50%, rgba(88, 88, 88, 0.03) 62.5%,rgba(101, 101, 101, 0.03) 62.5%, rgba(101, 101, 101, 0.03) 75%,rgba(44, 44, 44, 0.03) 75%, rgba(44, 44, 44, 0.03) 87.5%,rgba(212, 212, 212, 0.03) 87.5%, rgba(212, 212, 212, 0.03) 100%),linear-gradient(216deg, rgba(24, 24, 24, 0.02) 0%, rgba(24, 24, 24, 0.02) 20%,rgba(101, 101, 101, 0.02) 20%, rgba(101, 101, 101, 0.02) 40%,rgba(44, 44, 44, 0.02) 40%, rgba(44, 44, 44, 0.02) 60%,rgba(144, 144, 144, 0.02) 60%, rgba(144, 144, 144, 0.02) 80%,rgba(22, 22, 22, 0.02) 80%, rgba(22, 22, 22, 0.02) 100%),linear-gradient(74deg, rgba(211, 211, 211, 0.03) 0%, rgba(211, 211, 211, 0.03) 16.667%,rgba(91, 91, 91, 0.03) 16.667%, rgba(91, 91, 91, 0.03) 33.334%,rgba(14, 14, 14, 0.03) 33.334%, rgba(14, 14, 14, 0.03) 50.001000000000005%,rgba(239, 239, 239, 0.03) 50.001%, rgba(239, 239, 239, 0.03) 66.668%,rgba(250, 250, 250, 0.03) 66.668%, rgba(250, 250, 250, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(74deg, rgba(190, 190, 190, 0.03) 0%, rgba(190, 190, 190, 0.03) 14.286%,rgba(78, 78, 78, 0.03) 14.286%, rgba(78, 78, 78, 0.03) 28.572%,rgba(11, 11, 11, 0.03) 28.572%, rgba(11, 11, 11, 0.03) 42.858%,rgba(77, 77, 77, 0.03) 42.858%, rgba(77, 77, 77, 0.03) 57.144%,rgba(100, 100, 100, 0.03) 57.144%, rgba(100, 100, 100, 0.03) 71.42999999999999%,rgba(179, 179, 179, 0.03) 71.43%, rgba(179, 179, 179, 0.03) 85.71600000000001%,rgba(37, 37, 37, 0.03) 85.716%, rgba(37, 37, 37, 0.03) 100.002%),linear-gradient(72deg, rgba(159, 159, 159, 0.03) 0%, rgba(159, 159, 159, 0.03) 12.5%,rgba(231, 231, 231, 0.03) 12.5%, rgba(231, 231, 231, 0.03) 25%,rgba(26, 26, 26, 0.03) 25%, rgba(26, 26, 26, 0.03) 37.5%,rgba(121, 121, 121, 0.03) 37.5%, rgba(121, 121, 121, 0.03) 50%,rgba(144, 144, 144, 0.03) 50%, rgba(144, 144, 144, 0.03) 62.5%,rgba(211, 211, 211, 0.03) 62.5%, rgba(211, 211, 211, 0.03) 75%,rgba(234, 234, 234, 0.03) 75%, rgba(234, 234, 234, 0.03) 87.5%,rgba(224, 224, 224, 0.03) 87.5%, rgba(224, 224, 224, 0.03) 100%),linear-gradient(279deg, rgba(113, 113, 113, 0.01) 0%, rgba(113, 113, 113, 0.01) 12.5%,rgba(204, 204, 204, 0.01) 12.5%, rgba(204, 204, 204, 0.01) 25%,rgba(164, 164, 164, 0.01) 25%, rgba(164, 164, 164, 0.01) 37.5%,rgba(10, 10, 10, 0.01) 37.5%, rgba(10, 10, 10, 0.01) 50%,rgba(99, 99, 99, 0.01) 50%, rgba(99, 99, 99, 0.01) 62.5%,rgba(186, 186, 186, 0.01) 62.5%, rgba(186, 186, 186, 0.01) 75%,rgba(230, 230, 230, 0.01) 75%, rgba(230, 230, 230, 0.01) 87.5%,rgba(6, 6, 6, 0.01) 87.5%, rgba(6, 6, 6, 0.01) 100%),linear-gradient(11deg, rgba(241, 241, 241, 0.02) 0%, rgba(241, 241, 241, 0.02) 12.5%,rgba(51, 51, 51, 0.02) 12.5%, rgba(51, 51, 51, 0.02) 25%,rgba(101, 101, 101, 0.02) 25%, rgba(101, 101, 101, 0.02) 37.5%,rgba(107, 107, 107, 0.02) 37.5%, rgba(107, 107, 107, 0.02) 50%,rgba(197, 197, 197, 0.02) 50%, rgba(197, 197, 197, 0.02) 62.5%,rgba(226, 226, 226, 0.02) 62.5%, rgba(226, 226, 226, 0.02) 75%,rgba(100, 100, 100, 0.02) 75%, rgba(100, 100, 100, 0.02) 87.5%,rgba(216, 216, 216, 0.02) 87.5%, rgba(216, 216, 216, 0.02) 100%),linear-gradient(90deg, hsl(178,0%,46%),hsl(178,0%,46%));
	padding: 50px;
	color: white;
}

footer h3 {
	font-weight: normal;
}

footer a {
	text-decoration: none;
}

#RugbyFooter b {
	font-size: 18px;
}

#RugbyFooter a {
	color: white;
}

#RugbyFooter .fa {
	margin-right: 20px;
}

.fa {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
	color: white;
}

.fa:hover {
    opacity: 0.7;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#TopButton {
	background-color: rgba(51, 51, 51, 0.8);
	text-align: center;
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#TopButton a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
}

.list-inline li {
	display: inline;
}

/* 10. Media Queries */

@media only screen and (max-width: 991px) {
	footer {
		text-align: center;
	}
	#RugbyFooter .fa {
		margin-right: 10px;
		margin-left: 10px;
	}
}

@media only screen and (max-width: 575px) {
    /* For mobile phones. Change to 90px if it fits */
    .jumbotron h1 {
        font-size: 85px;
    }
	footer {
		text-align: center;
	}
	#RugbyFooter .fa {
		margin-right: 10px;
		margin-left: 10px;
	}
}





