/*	=====Stylesheet Order=====
	
	1. Global Styles 
	2. Navbar
	3. Jumbotron
	4. Text Divs
	5. Table
	6. Cards
	7. Products
	8. Footer
	
	=====Colour Scheme=====
	
	Brand - #b30000
	Background - white;
	Text - black;
	
	=====Fonts=====
	
	Heading - 'Roboto Slab', serif;
	Subheading - 'Roboto Condensed', sans-serif;
	Body - 'Roboto', sans-serif;
*/

/* Global Styles */

p, b, i {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.7;
}

h2, h3 {
	font-family: 'Roboto Condensed', sans-serif !important;
}

h3 {
	font-size: 30px !important;
	line-height: 1.7 !important;
	font-weight: bold !important;
}

/* Navbar */

.navbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.navbar a {
	color: black;
}

.navbar-toggler-icon {
	color: #b30000;
}

/* Jumbotron */

.jumbotron {
	min-height: 500px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	color: white;
	background-size: cover;
	background-repeat: no-repeat;	
}

.jumbotron h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 101px;
	padding-bottom: 25px;
}

.jumbotron h2 {
	font-size: 45px;
}

@media only screen and (max-width: 550px) {
    /* For mobile phones. Change to 90px if it fits */
    .jumbotron h1 {
        font-size: 85px;
    }
}

#PremJumbotron {
    background-image: url('../img/rugby-wallpaper.jpg');
}

#RwcJumbotron {
    background-image: url('../img/rugby-world-cup-jumbotron.jpg');
}

#EngJumbotron {
	background-image: url('../img/england-rugby-jumbotron.jpg');
}

#ReviewJumbotron {
	background-image: url('../img/reviews-jumbotron3.jpg');
}

/* Text Divs */

#Intro li {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.7;
}

#Points li {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.7;
}

/* Table */

.table-responsive {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}

thead {
	background-color: #b30000;
	padding: 100px;
	color: white;
}

/* Cards */

#PremiershipCards {
	margin-bottom: 75px;
	text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	width: 300px;
	margin: 10px;
}

.card h1 {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 101px;
	font-family: 'Roboto Slab', serif;
}

.card-img-overlay {
    text-align: center;
	color: white;
}

.card-zoom {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Products */

.product {
	padding-bottom: 50px;
}

.product-button a {
	color: white;
	font-weight: bold;
	transition: 0.5s;
}

.product-button a:hover {
	color: white;
	transform: scale(1.1);
}

/* Footer */

footer {
	background-color: #666;
	text-align: center;
	padding: 50px;
	color: white;
	font-size: 15px;
}

#RugbyFooter b {
	font-size: 18px;
}

#RugbyFooter a {
	color: white;
}

#RugbyFooter .fa {
	margin-left: 20px;
	margin-right: 20px;
}

.fa {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
	color: white;
}

.fa:hover {
    opacity: 0.7;
	color: white;
	text-decoration: none;
}

#TopButton {
	background-color: #333;
	text-align: center;
	font-size: 18px;
}

#TopButton a {
	text-decoration: none;
	color: white;
}
